
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
!.devcontainer/devcontainer.json
.snakemake/
logs/
results/
ngs-test-data/
resources/
report.zip
